<div class="form-inline">

  <%= f.attribute_fields do |a| %>
    <%= a.attribute_select associations: [:sources] %>
  <% end %>

  <%= f.predicate_select compounds: false %>

  <%= f.value_fields do |v| %>
    <%= v.text_field :value %>
  <% end %>

  <small>
    <%= link_to "remove", '#' %>
  </small>

</div>
