<%= simple_form_for @person, :html => { :class => "form-horizontal" } do |f| %>

    <%= f.input :name %>
    <%= f.input :title %>
    <%= f.input :person_type, collection: Person.person_types %>

    <%= f.input :temporary, :as => :radio_buttons %>
    <%= f.input :hr_status, collection: Person.hr_statuses %>
    <%= f.input :part_time, :as => :radio_buttons %>
    <%= f.input :cost_center %>
    <%= f.input :business_unit %>

    <%= f.input :location_floor %>
    <%= f.input :location_code %>

    <%= f.input :direct_supervisor_tokens, :label => "Direct Supervisors", :input_html => { 'data-pre' => @person.direct_supervisors.map(&:attributes).to_json } %>
    <%= f.input :dotted_supervisor_tokens, :label => "Dotted Supervisors", :input_html => { 'data-pre' => @person.dotted_supervisors.map(&:attributes).to_json } %>
    <%= f.input :direct_subordinate_tokens, :label => "Direct Reports", :input_html => { 'data-pre' => @person.direct_subordinates.map(&:attributes).to_json } %> 
    <%= f.input :dotted_subordinate_tokens, :label => "Dotted Reports", :input_html => { 'data-pre' => @person.dotted_subordinates.map(&:attributes).to_json } %> 

    <div class="form-actions">
      <%= f.submit "Update Person", :class => "btn btn-primary" %>
      <%= link_to "Cancel", people_path, :class => "btn" %>
    </div>

<% end %>

