<%- model_class = Person -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %> | <%= @person.name %></h1> 
</div>

<p>
<%= link_to "Org Chart", chart_org_context_path(:id => @person.id), :class => "btn btn-small btn-info", :method => :get %>
</p>

<table class="table">

<tr><td>
<dl class="dl-horizontal">
  <dt><%= model_class.human_attribute_name(:name) %></dt><dd><%= @person.name %></dd>
  <dt><%= model_class.human_attribute_name(:title) %></dt><dd><%= @person.title %></dd>
  <dt><%= model_class.human_attribute_name(:group) %></dt><dd><%= @person.group %></dd>
</dl>
</td>

<td>
<dl class="dl-horizontal">
  <dt><%= model_class.human_attribute_name(:person_type) %></dt><dd><%= @person.person_type %></dd>
  <dt><%= model_class.human_attribute_name(:part_time) %></dt><dd><% if @person.part_time %> <i class="icon-ok"></i> <% else %> <i class="icon-minus"></i> <% end %></dd>
  <dt><%= model_class.human_attribute_name(:temporary) %></dt><dd><% if @person.temporary %> <i class="icon-ok"></i> <% else %> <i class="icon-minus"></i> <% end %></dd>

<tr><td>
<dl class="dl-horizontal">
  <dt><%= model_class.human_attribute_name(:budget) %></dt><dd><%= @person.budget %></dd>
  <dt><%= model_class.human_attribute_name(:hr_status) %></dt><dd><%= @person.hr_status %></dd>
  <dt><%= model_class.human_attribute_name(:hiring_status) %></dt><dd><%= @person.hiring_status %></dd>
</dl>
</td>

<td>
<dl class="dl-horizontal">
  <dt><%= model_class.human_attribute_name(:cost_center) %></dt><dd><%= @person.cost_center %></dd>
  <dt><%= model_class.human_attribute_name(:business_unit) %></dt><dd><%= @person.business_unit %></dd>
</dl>
</td></tr>

<tr><td colspan="2">
<dl class="dl-horizontal">
  <dt><%= model_class.human_attribute_name(:seating) %></dt><dd><%= @person.seating %></dd>
  <dt><%= model_class.human_attribute_name(:location_floor) %></dt><dd><%= @person.location_floor %></dd>
  <dt><%= model_class.human_attribute_name(:location_code) %></dt><dd><%= @person.location_code %></dd>
</dl>
</td></tr>

</table>

<!--
<br>
<br>
<br>
<p>
  <%= model_class.human_attribute_name(:employment_start_date) %>:<%= @person.employment_start_date %>
  <%= model_class.human_attribute_name(:employment_end_date) %>:<%= @person.employment_end_date %>
</p>
-->
<br>

<% if @person.source_associations.size > 0 %>
<strong><%= @person.name %> reports to:</strong>
<table class="table">
  <thead>
    <tr>
      <th style="width: 50%"></th>
      <th style="width: 50%"></th>
    </tr>
  </thead> 
  <% @person.source_associations.each do |sr| %>
  <tr><td><%= link_to sr.source.name, sr.source %></td><td class="muted"><em><%= sr.source.title %> (<%= sr.association_type.humanize %>)</td></tr>
  <% end %>
</table>

<% else %>
<strong><%= @person.name %> does not have any supervisors.</strong>
<br><br><br>
<% end %>


<% if @person.sink_associations.size > 0 %>
<strong>The following people report to <%= @person.name %>:</strong>
<table class="table">
  <thead>
    <tr>
      <th style="width: 50%"></th>
      <th style="width: 50%"></th>
    </tr>
  </thead> 
  <% @person.sink_associations.each do |sr| %>
  <tr><td><%= link_to sr.sink.name, sr.sink %></td><td class="muted"><em><%= sr.sink.title %> (<%= sr.association_type.humanize %>)</td></tr>
  <% end %>
</table>

<% else %>
<strong><%= @person.name %> does not have any reports.</strong>
<br><br><br>
<% end %>

<div class="form-actions">
  <%= link_to 'Back', people_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_person_path(@person), :class => 'btn' %>
  <%= link_to 'Destroy', person_path(@person), :method => 'delete', :data => { :confirm => 'Confirm', :default => 'Are you sure?' }, :class => 'btn btn-danger' %>
</div>

