<%= simple_form_for(@plan) do |f| %>

  <%= f.error_notification %>

  <table class="table" border="1">
    
    <tr>
      <td>
      <%= f.input :name %>
      <%= f.input :description, :input_html => { :rows => 3 } %>
      <%= f.input :portfolio_category %>
      </td>
    </tr>

    <tr>
      <td>
	<%= f.fields_for :milestones do |builder| %>
	<%= render 'milestone_fields', f: builder %>
      </td>
    </tr>

  </table>

  <% end %>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
