
<div class="well">
  <%= link_to "Back", person_path(@person.id), :method => "get" %>
  |
  <%= link_to "Show Less", chart_org_context_path(:id => @person.id, :max_sink_depth => @max_sink_depth, :decrease_max_sink_depth => true) %> 
  |
  <%= link_to "Show More", chart_org_context_path(:id => @person.id, :max_sink_depth => @max_sink_depth, :increase_max_sink_depth => true) %> 
  |
  <%= link_to "Print", chart_org_context_print_path(:id => @person.id, :max_sink_depth => @max_sink_depth, :increase_max_sink_depth => true), :target => "_blank" %> 
</div>

<% if browser.safari? %>

<object type="image/svg+xml" width=6000 height=6000 data="/chart/org_context.svg?id=<%= @person.id %>&max_sink_depth=<%= @max_sink_depth %>">
  Your browser does not support SVG
</object>

<% else %>

<object type="image/svg+xml" data="/chart/org_context.svg?id=<%= @person.id %>&max_sink_depth=<%= @max_sink_depth %>">
  Your browser does not support SVG
</object>

<% end %>
