<%- model_class = Employee -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %> | <%= @employee.full_name %></h1> 
</div>

<%= button_to "Org Context", orgdendro_path(:id => @employee.id), :class => "btn btn-small btn-info" %>

<table class="table">
  <thead>
    <tr>
      <th style="width: 50%"></th>
      <th style="width: 50%"></th>
    </tr>
  </thead> 
  <tbody>
  <tr><td><strong><%= model_class.human_attribute_name(:full_name) %>:</strong></td><td><%= @employee.full_name %></td></tr>
  <tr><td><strong><%= model_class.human_attribute_name(:job_title) %>:</strong></td><td><%= @employee.job_title %></td></tr>
  <tr><td><strong><%= model_class.human_attribute_name(:level) %>:</strong></td><td><%= @employee.level %></td></tr>
  <tr><td><strong><%= model_class.human_attribute_name(:cost_center) %>:</strong></td><td><%= @employee.cost_center %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:contractor) %>:</strong></td>
    <td><% if @employee.contractor %> <i class="icon-ok"></i> <% else %> <i class="icon-minus"></i> <% end %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:part_time_status) %>:</strong></td>
    <td><% if @employee.part_time_status %> <i class="icon-ok"></i> <% else %> <i class="icon-minus"></i> <% end %></td></tr>

  <tbody>
</table>

<% if @employee.supervisor_relationships.size > 0 %>
<strong><%= @employee.full_name %> reports to:</strong>
<table class="table">
  <thead>
    <tr>
      <th style="width: 50%"></th>
      <th style="width: 50%"></th>
    </tr>
  </thead> 
  <% @employee.supervisor_relationships.each do |sr| %>

    <% if sr.supervisor %>
    <tr>
      <td><%= link_to sr.supervisor.full_name, sr.supervisor %></td><td class="muted"><em><%= sr.supervisor.job_title %> <%= sr.dotted? ? '(dotted)' : '' %></td>
    </tr>
    <% end %>

  <% end %>
</table>

<% else %>
<strong><%= @employee.full_name %> does not have a supervisor.</strong>
<br><br><br>
<% end %>


<% if @employee.subordinate_relationships.size > 0 %>
<strong>These people report to <%= @employee.full_name %>:</strong>
<table class="table">
  <thead>
    <tr>
      <th style="width: 50%"></th>
      <th style="width: 50%"></th>
    </tr>
  </thead> 
  <% @employee.subordinate_relationships.each do |sr| %>

    <% if sr.subordinate %>
    <tr>
      <td> <%= link_to sr.subordinate.full_name, sr.subordinate %> </td><td class="muted"><%=sr.subordinate.job_title %> <%= sr.dotted? ? '(dotted)' : '' %></td>
    </tr>
    <% end %>

  <% end %>
</table>
<% else %>
<strong><%= @employee.full_name %> does not have any reports.</strong>
<br><br><br>
<% end %>

<div class="form-actions">
  <%= link_to 'Back', employees_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_employee_path(@employee), :class => 'btn' %>
  <%= link_to 'Destroy', employee_path(@employee), :method => 'delete', :data => { :confirm => 'Confirm', :default => 'Are you sure?' }, :class => 'btn btn-danger' %>
</div>

