<%= simple_form_for(@person_association) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description %>
    <%= f.input :type %>
    <%= f.input :source_id %>
    <%= f.input :sink_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
