<div class="page-header">
  <h1>Releases | <%= @date.strftime("%B %Y") %></h1>
  <ul class="pager">
    <li class="previous">
      <%= link_to "Prev Month", date: @date.prev_month %> 
    </li>
    <li class="next">
      <%= link_to "Next Month", date: @date.next_month %> 
    </li>
  </ul>
</div>

<div id="releases">
 
  <%= calendar @date do |date| %>
    <%= date.day %>

    <% if @releases_by_date[date] %>

      <ul>
        <% @releases_by_date[date].each do |release| %>

          <li>
	    <%= link_to_release release %>
	  </li>

        <% end %>
      </ul>

    <% end %>

  <% end %>
</div>
<br><br><br>
