<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38046062-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <title>Technology Decision Support</title>
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
	<![endif]-->    
    
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag    "application", :media => "all" %>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= yield :head %>
  
  </head>
  <body style="background: #FFFFFF;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
	<div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to app_title, root_path, :class => "brand" %>
          <div class="nav-collapse">
            <ul class="nav">
              <li><%= link_to "People", people_path %></li>
              <li><%= link_to "Org Chart", people_tree_path %></li>
	      
              <!-- <li><%= link_to "Legacy / Employees", employees_path %></li> -->
              <!-- <li><%= link_to "Legacy / Employees Org Chart", orgdendro_path %></li> -->
	      
              <%# <li>< %= link_to "Releases", release_calendar_path % ></li> %>
              <li><%= link_to "Trends", staffingchart_path %></li>
            </ul>

	    <ul class="nav pull-right">
	    <% if user_signed_in? %>
	      <li><a><strong><%= current_user.email %></strong></a></li>

	      <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
	      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
	    <% else %>
	    <li><%= link_to "Login", new_user_session_path %></li>
	    <%# <li>< %= link_to "New User", new_user_registration_path % ></li> %>
	    <% end %>
	    </ul>

          </div>
	</div>
      </div>
    </div>
    
    <div class="container">

      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
	  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
	    <a class="close" data-dismiss="alert">&#215;</a>
	    <%= content_tag :div, msg, :id => "flash_#{name}" %>
	  </div>
	<% end %>
      <% end %>

      <div class="row">
	<div class="span9">
	  <%= yield %></div>
	<div class="span3">

<h2>About Us</h2>
	  The New York Times (NYT) is an American daily newspaper, founded and continuously published in New York City since 1851. It has won 108 Pulitzer Prizes, more than any other news organization. Its website is the most popular American newspaper website, receiving more than 30 million unique visitors per month.</p> 

The print version of the paper remains the largest local metropolitan newspaper in the United States; it is the third-largest newspaper overall, behind The Wall Street Journal and USA Today, though its weekday circulation has fallen since 1990 (as have other newspapers' circulations) to fewer than one million copies daily. Nicknamed "the Old Gray Lady", and long regarded within the industry as a national "newspaper of record", The New York Times is owned by The New York Times Company, which also publishes 18 other newspapers including the International Herald Tribune and The Boston Globe.</p> 
The company's chairman is Arthur Ochs Sulzberger Jr., whose family has controlled the paper since 1896. The paper's motto, printed in the upper left-hand corner of the front page, is "All the News That's Fit to Print." The New York Times website (NYTimes.com) has the motto "All the News That's Fit to Click,".</p>
It is organized into sections: News, Opinions, Business, Arts, Science, Sports, Style, Home, and Features. The New York Times stayed with the eight-column format for several years after most papers switched to six columns, and it was one of the last newspapers to adopt color photography.  
	</div>
      </div>
    </div>
    
  </body>
</html>
