<%- model_class = ReportingRelationship -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= link_to "New", new_reporting_relationship_path, :class => 'btn btn-primary' %>

<table class="table table-striped">
  
  <thead>
    <tr>
      <th>Id</th>
      <th>Supervisor</th>
      <th>Report</th>
      <th>Actions</th>
    </tr>
  </thead>
  
  <tbody>
    <% @reporting_relationships.each do |reporting_relationship| %>
      <tr>
	<td><%= link_to reporting_relationship.id, reporting_relationship_path(reporting_relationship) %></td>
	<td><%= reporting_relationship.supervisor.full_name if reporting_relationship.supervisor %></td>
	<td><%= reporting_relationship.subordinate.full_name if reporting_relationship.subordinate %></td>
	<td>
        <%= link_to 'Edit', edit_reporting_relationship_path(reporting_relationship), :class => 'btn btn-mini' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
          reporting_relationship_path(reporting_relationship),
          :method => :delete,
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
          :class => 'btn btn-mini btn-danger' %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>
